/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

oraklus-core.iml
/log/
mvnw
mvnw.cmd
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-test.properties

